<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('/game');

            $('form#leave').submit(function(event) {
                window.location.href='/home';

                socket.emit('leave_game', {room_id: '{{ room.room_id }}'});

                return false;
            });

            $('form#startgame').submit(function(event) {
                socket.emit('start_game', {room_id: '{{ room.room_id }}'})

                return false;
            });

            $(document).on('submit', 'form#answer', function(event) {
                socket.emit('answer', {room_id: '{{ room.room_id }}', answer: $(this).find('input[type="submit"]:focus').val()})

                return false;
            });

            socket.on('connect', function() {
                socket.emit('join_game', {room_id: '{{ room.room_id }}'});
            });

            socket.on('update_players', function(data) {
                updatePlayers(data, {{ user.user_id }})
            });

            socket.on('kick_all', function(data) {
                console.log('kick_all')

                window.location.href='/home';
            })

            socket.on('starting', function() {
                startGame()

                /*
                setTimeout(() => {
                    socket.emit('ask_question', {room_id: '{{ room.room_id }}'});
                }, 5000)
                */
            })

            socket.on('new_question', function(data) {
                console.log("new question received")

                console.log(data)

                socket.emit('ask_question', {room_id: '{{ room.room_id }}'});

                console.log('question asked')
            })

            socket.on('question', function(data) {
                console.log('question received')

                question(data)
            })

            socket.on('question_end', function() {
                console.log('question end received')

                gameRoom.innerHTML = '';

                socket.emit('end_question', {room_id: '{{ room.room_id }}'});
            })
        });
    </script>
</head>
<body>
    <form id="leave" method="POST" action='#'>
        <input type="submit" value="Leave game">
    </form>

    <span id="player-count">{{ room.players|length }}</span>/3

    <div class="player-list" id="player-list"></div>

    <div class="game-room" id="game-room">
        <div class="start-game" id="start-game">
            <form id="startgame" method="POST" action='#'>
                <input type="submit" value="Start game">
            </form>
        </div>
    </div>
</body>
</html>
