<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
    <div class="game-options" id="game-options">
        <form id="create" method="POST" action="/home">
            <input type="submit" name="create_room" value="Create room">
        </form>
        <form id="join" method="POST" action="/home">
            <input type="text" name="join_room" id="join_room" placeholder="Room ID">
            <input type="submit" value="Join room">
        </form>
    </div>
</body>
</html>
