# Ignore virtual environments
/.venv
venv/
.venv

# Ignore any pycaches
**/__pycache__/*
**/database.db

# Ignore migrations folder
migrations/*

# Replit
.pythonlibs
.replit
poetry.lock
pyproject.toml
**/__init__.py