:root {
    --primary-bg: #20242a;
    --secondary-bg: #3c4148;
    --tertiary-bg: #51565d;

    --primary-text: #fefefe;
    --secondary-text: #b8b8b8;
}

body {
    background-color: #20242a;
    color: #fefefe;
    font-family: 'Montserrat';
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

input {
    padding: 12.5px;
    font-size: 16px;
    border: none;
    background-color: #3c4148;
    color: #fefefe;
    border-radius: 25px;
    box-shadow: 0px 0px 0px #000, 0px -3px 0px #51565d;
    transition: .3s;
    font-family: 'Montserrat';
}
input:focus {
    outline: none;
    background-color: #51565d;
    box-shadow: 0px 0px 0px #000, 0px -3px 0px rgb(101, 107, 116);
}
input:hover {
    cursor: pointer;
}

button,
input[type="submit"] {
    padding: 12.5px;
    font-size: 16px;
    border: none;
    background-color: #3c4148;
    color: #fefefe;
    border-radius: 25px;
    box-shadow: 0px 0px 0px #000, 0px -3px 0px #51565d;
    transition: .3s;
    font-family: 'Montserrat';
}
button,
input[type="submit"]:hover {
    background-color: #51565d;
    box-shadow: 0px 0px 0px #000, 0px -3px 0px rgb(101, 107, 116);
    cursor: pointer;
}

::placeholder {
    color: rgb(101, 107, 116);
}

.section {
    position: relative;
    width: 400px;
    padding: 25px 25px 0px 25px;
    margin: 0px auto;
}

@media screen and (max-width: 450px) {
    .section {
        width: calc(100vw - 50px);
    }
}